<table>
    <tr *ngFor="let row of mineField$ | async">
      <ng-container *ngFor="let tile$ of row">
        <ng-container *ngIf="tile$ | async as tile"> 
            <td (click)="onTileClick(tile)" (contextmenu)="onTileRightClick($event, tile)">
                <minesweeper-tile [isMine]="tile.isMine"
                                  [isHidden]="tile.isHidden"
                                  [isFlagged]="tile.isFlagged"
                                  [adjacentMineCount]="tile.adjacentMineCount">
                </minesweeper-tile>
            </td>
        </ng-container>
      </ng-container>
    </tr>
</table>