<div id="game-wrapper">
  <div id="game-settings">
    <div class="game-dashboard" id="difficulty">
    <select id="difficulty-select" (change)="selectedDifficulty=$event.target.value">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty[0]"> {{difficulty[1]}} </option>        
    </select>
    </div>
    <div class="game-dashboard" id="mines">
      <label> {{difficultyValues[selectedDifficulty][2]}} </label>
    </div>
      <div class="game-dashboard" id="game-status" (click)="newGame()">
    </div>    
  </div>
  <app-game-board *ngIf="gameCounter > 0" [gameCounter]="gameCounter" (onGameOver)="onGameOver($event)" (onGameWon)="onGameWon($event)"></app-game-board>
</div>