table {
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 0px 0px;
}

td {
    empty-cells: show;
    cursor: pointer;
}

td:hover{
    background-color: rgb(114, 112, 112);
}

td:active{
    transform: translateY(1px);
}

#mine-field{
    display: flex;
}