img {
    height:100%;
    width:100%;
}

label {
    width: 100%;
    text-align: center;
    margin: auto;
}

.tile {
    display: flex;
    height: 35px;
    width:35px;
}

.tile--visible {
  border: 1px solid rgb(61, 57, 57);
  background-color:rgb(212, 216, 221);
}

.tile--hidden {
    border: 2px outset rgb(61, 57, 57);
}

.tile--flagged { 
    background: center url('./images/flag.PNG') no-repeat;
    background-size: contain;
}

.tile--mine-hit {
    background: center url('./images/mine.PNG') no-repeat;
    background-size: contain;
    background-color: red;
}